# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files (Exclude large datasets)
*.csv
*.parquet
*.json
*.sqlite
*.db

# Spark
spark-warehouse/
metastore_db/
derby.log
/output/

# VS Code / IDE
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
